* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  list-style: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/img/bg.svg');
  background-size: 16px;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 65vh;
  width: 40vw;
}

input {
  height: 40px;
  padding: 0 105px 0 8px;
  border-radius: 15px;
  width: 380px;
  border: 1px solid grey;
}

input:focus {
  outline: none;
}

#controls {
  display: flex;
  height: 8%;
}

#inp_container {
  position: relative;
}

#spec_controls {
  position: absolute;
  height: 40px;
  width: 100px;
  right: 0px;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#spec_block, #standart {
  display: flex;
  width: 100%;
  justify-content: center;
}

#accept, #denied, #control_audio, #control_video {
  width: 24px;
  height: 24px;
  border: 1px solid grey;
  border-radius: 50%;
  cursor: pointer;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 16px;
}

#accept {
  background-image: url('../img/accept.svg');
}

#time {
  margin: 0 5px;
}

#denied {
  background-image: url('../img/close.svg');
  background-position: 5px 5px;
}

#control_audio {
  margin-right: 10px;
  background-image: url('../img/voice.svg');  
}

#control_video {
  background-image: url('../img/camera.svg');
}

button {
  margin-left: 15px;
  height: 40px;
  padding: 5px 8px;
  border-radius: 15px;
  border: 1px solid grey;
  cursor: pointer;
  background-color: #fff;
}

input:disabled, button:disabled {
  background-color: lightgrey;
  cursor: not-allowed;
  color: #000;
}

#messages {
  height: 90%;
  width: 100%;
  margin-bottom: 15px;
  overflow-x: hidden;
}

video {
  width: 300px;
}

#messages li {
  position: relative;
  margin-bottom: 10px;
  border: 2px solid grey;
  border-radius: 15px;
  padding: 10px;
  background-color: #fff;
}

.hide {
  display: none !important;
}

.timestamp {
  position: absolute;
  right: 10px;
  top: 10px;
}

#geo {
  position: absolute;
  right: 50px;
  top: 50px;
  background-color: #fff;
  padding: 15px;
  border: 1px solid grey;
  border-radius: 15px;
}

#modal {
  position: absolute;
  width: 32vw;
  background-color: #fff;
  padding: 15px;
  border: 2px solid grey;
  border-radius: 25px;
}

#modal p {
  margin-bottom: 10px;
}

#modal input {
  border-radius: 0;
  padding-right: 8px;
  width: 100%;
}

#modal .modal_controls {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
}

#modal #modal_denied {
  margin-right: 15px;
}

#modal #modal_denied, #modal_success {
  padding: 5px 8px;
  border: 1px solid grey;
  border-radius: 15px;
  cursor: pointer;
}

.err {
  border: 1px solid red;
}